{% extends 'myapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>post一覧</h2>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>内容</th>

                    </tr>
                </thead>

                <tbody>
                    {% for item in search_list %}
                    <tr>
                        <td><a href="{% url 'myapp:post_detail' item.id %}">{{ item.title }}</a></td>
                        <td>{{ item.content }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.updated_at }}</td>
                    {% endfor %}
                </tbody>
            </table>
            <br>



        </div>

    </div>
{% endblock %}